:root {
  --max-width: 1100px;
  --border-radius: 12px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 3rem;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

video {
  width: 100%;
  height: 100%;
  border-radius: 30px;
}

li {
  display: flex;
  gap: 20px;
  font-weight: 500;
  position: relative;
  padding-right: 40px;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

form {
  display: flex;
  gap: 8px;
}

.delete-button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-size: 1.3em;
  position: absolute;
  top: 1px;
  right: 0px;
  font-color: white;
}

.delete-button:hover {
  scale: 115%;
}

.delete-button:focus {
  scale: 115%;
}

.delete-button:active {
  scale: 105%;
}

.video-container {
  position: relative;
}

.facial-recognition-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.snapshotButton {
  background-color: green;
  border: none;
  border-radius: 15px;
  font-weight: bold;
  padding: 10px;
  max-height: 2.2rem;
  cursor: pointer;
}

input {
  height: 25px;
  align-content: center;
  justify-content: center;
  margin: 3.5px 0 0 90px;
}

.sun-and-moon {
  position: absolute;
  top: -10rem;
  right: -10rem;
  height: 20rem;
  width: auto;
  z-index: -1;
  object-fit: cover;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  .delete-button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 1.3em;
    padding-top: 2;
    font-color: black;
  }
}

/* Styles for mobile devices */
@media (max-width: 768px) {
  .sun-and-moon {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    height: 20rem;
    width: auto;
    z-index: -1;
    object-fit: cover;
  }
  input {
    height: 25px;
    align-content: center;
    justify-content: center;
    margin: 3.5px;
  }
}

/* Styles for desktop devices */
@media (min-width: 769px) {
  /* Desktop styles here */
}
